body {
    background-color: lightblue;
    
}

#explicação {
text-align: center;
font-size: 18px;

}

#nome {
    text-align: center;
}

#aceitar {
    text-align: center;
}


#b1{
    text-align: center;
}

